<h1>All Guitars</h1>


<ul class="list-group">
<% @guitars.each do |guitar | %>
    <li class="list-group-item">
        <%= guitar.brand %> 
        <%= guitar.model %> 
        <%= guitar.year %>
        <%= guitar.price %>
        added by: <%= guitar.user.username %>
        <%= link_to "Show", guitar_path(guitar.user, guitar) %>
    </li>
<% end %>
</ul>
<br></br>


<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>