
<h1>Add a Guitar to an Auction</h1>

<% if @guitar.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

    <ul>
    <% @guitar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
</div>
<% end %>

<%= form_for [current_user, @guitar] do |f| %>
    
    <div class="form-group">
        <%= f.label :brand %>
        <%= f.text_field :brand, class: "form-control" %>
    </div>
    
    <div class="form-group">
        <%= f.label :model %>
        <%= f.text_field :model, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :year %>
        <%= f.text_field :year, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :auction_id, "Select an Auction:" %>
        <%= f.collection_select :auction_id, @auctions, :id, :title, {}, class: "form-control"  %>
    </div>

    <%= f.submit class: "btn btn-primary" %>

<% end %>
