<center><h1>All Auctions</h1>

<ul>
<% @auctions.each do |auction| %>
    <li>
    <strong><%= auction.title %></strong>
    <%=auction.start_date %> 
    <%=auction.end_date %> added by: <%= auction.user.username %>
    <%= link_to "See all auctions"%>
    </li>

    <% end %>
    </ul>

