

<center><h1>Add an Auction</h1>


<br></br>
</div> 
<center>

<%= link_to 'All Auctions', auctions_path, class:'button' %>
<%= link_to 'All Guitars', guitars_path, class:'button' %>
<%= link_to 'Add a Guitar', guitars_new_path, class:'button' %>


<%= form_for @auction do |f| %>
    <%= f.hidden_field :user_id, :user_id => @current_user %>
    <%= f.label :Location %> <%= f.collection_select :id, Location.all, :id, :city %>
<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>

    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    

    <br></br>

    <%= f.submit%>

    <% end %>

