
<h1>Your Auctions</h1>

<ul class="list-group">
<% @auctions.each do |auction| %>
    <li class="list-group-item">
        <strong><%= auction.title %></strong>
        <%=auction.start_date %> 
        <%=auction.end_date %> 
        added by: <%= auction.user.username %>
        <%= link_to "Show", auction_path(auction) %>
    </li>
<% end %>
</ul>




