<h1>Your Guitars</h1>

<ul class="list-group">
<% @guitars.each do |guitar | %>
    <li class="list-group-item">
        <%= guitar.brand %> 
        <%= guitar.model %> 
        <%= guitar.year %>
        <%= guitar.price %>
        added by: <%= guitar.user_id %>
        <%= link_to "Show", guitar_path(guitar.user, guitar) %>
    </li>
<% end %>
</ul>
