<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Guitar Gallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <header class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="/">Guitar Gallery</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, class:'nav-item nav-link'%>
        <%= link_to 'Add an Auction', auctions_new_path , class:'nav-item nav-link'%>
        <%= link_to 'All Auctions', auctions_path, class:'nav-item nav-link' %>
        <%= link_to 'Add a Guitar', guitars_new_path(current_user), class:'nav-item nav-link' %>
        <%= link_to 'Add a Drum', drums_new_path(current_user), class:'nav-item nav-link' %>
        <%= link_to 'All Drums', drums_path(current_user), class:'nav-item nav-link' %>
        <%= link_to 'All Guitars', guitars_path, class:'nav-item nav-link' %>
        <%= link_to 'Your Profile', user_path(current_user), class:'nav-item nav-link' %>
        <%= link_to 'Your Auctions', user_auctions_path(current_user), class:'nav-item nav-link' %>
        <%= link_to 'Your Guitars', user_guitars_path(current_user), class:'nav-item nav-link' %>
      <% else %>
        <%= link_to 'Sign Up', signup_path, class: 'nav-item nav-link' %>
        <%= link_to 'Log In', login_path, class: 'nav-item nav-link' %>
      <% end %>
      </div>
    </div>

  </header>

  <div class='container text-center'>
    <div class="row d-flex justify-content-center">
      <div class="col-6">
      <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
